<!-- templates/footer.html -->
<footer class="footer">
    <!-- Light/Dark Mode Toggle Outside the Box -->
    <div class="theme-toggle">
        <button id="theme-toggle-button">💀 Mode</button>
    </div>
    <div class="social-links">
        <a href="https://www.youtube.com/@majesticcoding/videos">
            <img src="https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white" alt="YouTube Channel">
        </a>
        <a href="https://www.twitch.tv/majesticcodingtwitch">
            <img src="https://img.shields.io/badge/Twitch-9146FF?style=for-the-badge&logo=twitch&logoColor=white" alt="Twitch Channel">
        </a>
        <a href="https://discord.com/invite/CZAQPrQ58K">
            <img src="https://img.shields.io/discord/1272530931533480017?label=Discord&logo=discord&logoColor=white&style=for-the-badge&color=5865F2" alt="Join The Discord">
        </a>
    </div>
</footer>

<!-- Scripts -->
<script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
