<!-- templates/body.html -->
<div class="content-wrapper">
    <h1>Death Roll & Troll Dice</h1>

    <!-- Start Game Section -->
    <div id="start-game">
        <!-- Player Connect Section -->
        <div id="player-connect">
            <button id="death-rolling-button" onclick="window.location.href='/death-rolling'">🎲 Death Roll</button>
            <button id="troll-dice-button" onclick="window.location.href='/troll-dice'">🧙‍♂️ Troll Dice</button>
        </div>
    </div>

    <!-- Game Info Section (Initially Hidden) -->
    <div id="game-info" style="display:none;">
        
    </div>